body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    color: white;
}

#color-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

#countdown {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 15px;
    text-align: center;
}

#timer {
    font-size: 3rem;
    letter-spacing: 3px;
    color: white;
}

.timer-unit {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    display: inline;
}

@media (max-width: 800px) {
    #timer {
        font-size: 2rem;
    }

    .timer-unit {
        font-size: 1rem;
        display: block;
    }
}